<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>{% block title %}Default Title{% endblock %}</title>

    <link rel="shortcut icon" href="{{ asset('/img/favicon.png') }}">

    <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ asset('/plugins/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/plugins/fontawesome/css/all.min.css') }}">

    <link rel="stylesheet" href="{{ asset('/plugins/select2/css/select2.min.css') }}">

    <link rel="stylesheet" href="{{ asset('/plugins/aos/aos.css') }}">

    <link rel="stylesheet" href="{{ asset('/css/feather.css') }}">

    <link rel="stylesheet" href="{{ asset('/css/owl.carousel.min.css') }}">


    <link rel="stylesheet" href="{{ asset('/plugins/fancybox/jquery.fancybox.min.css') }}">


    <link rel="stylesheet" href="{{ asset('/css/style.css') }}">

{#    {{ encore_entry_link_tags('app') }}#}

    <link rel="stylesheet" type="text/css" href="http://cdn.webrupee.com/font">
</head>
<body>
<div class="main-wrapper">

    <header class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                        </span>
                    </a>
                    <a href="../index.php" class="navbar-brand logo">
                        <img src="{{  asset('/img/logo.svg') }}" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="../index.php" class="menu-logo">
                            <img src="{{  asset('/img/logo.svg') }}" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);"> <i
                                    class="fas fa-times"></i></a>
                    </div>
                    <ul class="main-nav">
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li><a href="{{ path('testing') }}">Test</a></li>
                        {% if app.user is not defined and app.user is empty %}
                            <li class="login-link">
                                <a href="{{ path('app_register') }}">{{ 'register' |trans }}</a>
                            </li>
                            <li class="login-link">
                                <a href="{{ path('app_login') }}">{{ 'login' | trans }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <ul class="nav header-navbar-rht">

                    {% if app.user is defined and app.user is not empty %}
                    <li class="nav-item">
                        <a class="nav-link header-login add-listing" href="add-listing.php"><i
                                    class="fa-solid fa-plus"></i> {{ 'add_listing' | trans }}</a>
                    </li>
                    <li class="nav-item dropdown has-arrow logged-item">
                        <a href="#" class="dropdown-toggle profile-userlink" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <img src="{{ asset(app.user.image) }}"
                                 alt="">
                            <span>
                                {{ app.user.name }}
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="{{ path('user_profile') }}">{{ 'profile_settings' | trans }}</a>
                            <a class="dropdown-item" href="/my-listing">{{ 'my_listing' | trans }}</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">{{ 'logout' | trans }}</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link header-reg" href="{{ path('app_register') }}">{{ 'register' |trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-login" href="{{ path('app_login') }}"> {{ 'login' |trans }}</a>
                    </li>
                    {% endif %}


                </ul>
            </nav>
        </div>
    </header>

    {% block content %}
        Default content
    {% endblock %}


    <footer class="footer">
        <div class="footer-top aos" data-aos="fade-up">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">

                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="#"><img src="{{ asset('img/footerlogo.svg') }}" alt="logo"></a>
                            </div>
                            <div class="footer-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt et magna aliqua. </p>
                            </div>
                            <div class="social-icon">
                                <ul>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-2 col-md-6">

                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">About us</h2>
                            <ul>
                                <li>
                                    <a href="../index.php">Our product</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Documentation</a>
                                </li>
                                <li>
                                    <a href="../index.php">Our Services</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Get Started Us</a>
                                </li>
                                <li>
                                    <a href="../index.php">Contact Us</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-2 col-md-6">

                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">Quick links</h2>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">Market Place</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Documentation</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Customers</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Carriers</a>
                                </li>
                                <li>
                                    <a href="../index.php">Our Blog</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-2 col-md-6">

                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">Top Cities</h2>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">Manhatten</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Los Angeles</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Houston</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Chicago</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Alabama</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6">

                        <div class="footer-widget">
                            <h2 class="footer-title">Communication</h2>
                            <div class="footer-contact-info">
                                <div class="footer-address">
                                    <img src="{{  asset('/img/call-calling.svg') }}" alt="Callus">
                                    <p><span>Call Us</span> <br> +017 123 456 78 </p>
                                </div>
                                <div class="footer-address">
                                    <img src="{{ asset('/img/sms-tracking.svg') }}" alt="Callus">
                                    <p><span>Send Message</span> <br> <a href="/cdn-cgi/l/email-protection"
                                                                         class="__cf_email__"
                                                                         data-cfemail="b5d9dcc6c1d0d0f5d0cdd4d8c5d9d09bd6dad8">[email&#160;protected]</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="footercount">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="vistors-details">
                                <p>Our Unique Visitor</p>
                                <p class="visitors-value">25,329,532</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="vistors-details">
                                <p>Our Unique Visitor</p>
                                <p class="visitors-value">25,329,53264546</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="vistors-details">
                                <p>Our Unique Visitor</p>
                                <p class="visitors-value">25,329,53264546</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="vistors-details">
                                <p>We Accept</p>
                                <ul class="d-flex">
                                    <li><a href="javascript:void(0)"><img class="img-fluid"
                                                                          src="{{ asset('/img/amex-pay.svg') }}"
                                                                          alt="amex"></a>
                                    </li>
                                    <li><a href="javascript:void(0)"><img class="img-fluid"
                                                                          src="{{ asset('/img/apple-pay.svg') }}"
                                                                          alt="pay"></a>
                                    </li>
                                    <li><a href="javascript:void(0)"><img class="img-fluid"
                                                                          src="{{ asset('/img/gpay.svg') }}"
                                                                          alt="gpay"></a></li>
                                    <li><a href="javascript:void(0)"><img class="img-fluid"
                                                                          src="{{ asset('/img/master.svg') }}"
                                                                          alt="paycard"></a></li>
                                    <li><a href="javascript:void(0)"><img class="img-fluid"
                                                                          src="{{ asset('/img/phone.svg') }}"
                                                                          alt="spay"></a></li>
                                    <li><a href="javascript:void(0)"><img class="img-fluid"
                                                                          src="{{ asset('/img/visa.svg') }}"
                                                                          alt="visa"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="footer-bottom">
            <div class="container">

                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright-text">
                                <p class="mb-0">All Copyrights Reserved &copy; 2023 - Listee.</p>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="copyright-menu">
                                <ul class="policy-menu">
                                    <li>
                                        <a href="../index.php">Privacy </a>
                                    </li>
                                    <li>
                                        <a href="../index.php">Faq </a>
                                    </li>
                                    <li>
                                        <a href="../index.php">Terms</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </footer>

</div>

<div class="progress-wrap active-progress">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
              style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
    </svg>
</div>

<script src=http://cdn.webrupee.com/js type=”text/javascript”></script>

<script src="{{ asset('/js/jquery-3.6.3.min.js') }}"></script>

<script src="{{ asset('/js/bootstrap.bundle.min.js') }}"></script>

<script src="{{ asset('/plugins/select2/js/select2.min.js') }}"></script>

<script src="{{ asset('/plugins/aos/aos.js') }}"></script>

<script src="{{ asset('/js/backToTop.js') }}"></script>

<script src="{{ asset('/js/feather.min.js') }}"></script>

<script src="{{ asset('/js/owl.carousel.min.js') }}"></script>

<script src="{{ asset('/plugins/fancybox/jquery.fancybox.min.js') }}"></script>

<script src="{{ asset('/js/script.js') }}"></script>


{#{{  encore_entry_script_tags('app') }}#}

{% block script %}{% endblock %}

</body>
</html>